# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Thumbnails
Thumbs.db
